/*-----------------------------------------------

Trumps - Colors

*/



.muted
  opacity: .5
  

.c-type 
  color: $c-type
.c-brand
  color: $c-brand
.c-white
  color: $c-white
.c-red
  color: $c-red
.c-orange
  color: $c-orange
  

.bg-brand
  background-color: $c-brand
.bg-white
  background-color: $c-white
.bg-section-gray
  background-color: $c-bg-gray