// Linked List

.linked-list_href
  display: block
  border-bottom: 1px solid $c-gray
  line-height: 1.33
  &:last-child
    border-bottom: none

// List divided (full width horizontal dividers)

.list-divided_li
  border-bottom: 1px solid $c-gray
  line-height: 1.33
  &:last-child
    border-bottom: none
  // &:hover
  //   background-color: darken($c-white, 3)