/*-----------------------------------------------

Components - Headings

*/


.nav--site
  width: 100%
  top:0
  background-color: darken(#F7F7F7, 3)
  font-size: .8rem
  li a.active
    color: $c-link
  +below(500px)
    li,
    li a 
      display: block