/*-----------------------------------------------

Objects - Grid

*/


// -----------------------------------------------
// Grid (Lost)



/*
Default Settings
*/

@lost gutter 1.123%


/*
Helper Classes
*/

.grid
  lost-utility: clearfix
.clearfix
  lost-utility: clearfix
.c-70
  +above($bp-default)
    lost-column: 7/10 2 5%
.c-60
  +above($bp-default)
    lost-column: 6/10 2 5%
.c-50
  width: 100%
  +above($bp-default)
    lost-column: 1/2 2 5%
.c-40
  +above($bp-default)
    lost-column: 4/10 2 5%
.c-33
  +above($bp-default)
    lost-column: 3/9 3 2%
.c-35
  +above($bp-default)
    lost-column: 3/10 2 5%
.c-30
  +above($bp-default)
    lost-column: 3/10 2 5%
.c-20
  +above($bp-default)
    lost-column: 2/10 2 5%
.c-100
  +above($bp-default)
    lost-column: 1/1 2 5%



// No Gutter Columns

.c-60--ng
  +above($bp-default)
    lost-column: 6/10 2 0 
.c-50--ng
  +above($bp-default)
    lost-column: 1/2 2 0
.c-40--ng
  +above($bp-default)
    lost-column: 4/10 2 0
.c-20--ng
  width: 100%
  display: block
  +above($bp-default)
    lost-column: 1/4 4 0
.c-33--ng
  width: 100%
  display: block
  +above($bp-default)
    lost-column: 3/9 3 0


    

.waffle-4
  +above($bp-default)
    lost-waffle: 2/4 2 25px


/*
Grid-related Style Helpers
*/

.c-divider
  +above($bp-default)
    border-right: 2px solid #d2d2d2
    
.mb-mobile--gutter
  +below($bp-default)
    margin-bottom: 5%
