/*-----------------------------------------------

Objects - Grid

*/



.btn
  noSelect()
  display: inline-block
  outline: none
  text-align: center


.btn:not(.btn_no-hover)
  cursor: pointer
  &:hover
    color: $c-white