/*-----------------------------------------------

Base - Page

*/

  

body
  color: $c-type
  background-color: $c-bg
  font-family: $font-fam
  line-height: $line-height
  font-size: $body-font-size
  overflow-y: scroll
  +below($bp-default)
    line-height: 1.5
    font-size: 98%
