/*-----------------------------------------------

Base - Links

*/



a
  color: $c-link
  text-decoration: none
  &:hover
    color: $c-link-hover
    .icon 
      fill: $c-link-hover

li.active a 
  color: $c-link-hover
