/*-----------------------------------------------

Settings - Type

*/


$font-fam       = 'Lato', sans-serif
$font-fam-serif = $font-fam
$font-fam-sans  = 'Lato', sans-serif
$font-fam-title = 'Lato', sans-serif


$c-type                     = #000000
$c-heading                  = #464646
$c-link                     = $c-blue
$c-link-hover               = darken($c-blue, 17)

$line-height = 1.7
$body-font-size = 18px
$heading-font-weight = 700
$heading-line-height = 1.25
$h1 = 2.25rem
$h2 = 1.75rem
$h3 = 1.5rem
$h4 = 1.25rem
$h5 = .875rem
$h6 = .75rem
$bold-font-weight = 600
$bold-font-weight-2 = 700
$light-font-weight = 300

$heading-margin-top = 0
$heading-margin-bottom = $space-2
$paragraph-margin-top = 0
$paragraph-margin-bottom = $space-2-5
$list-margin-top = 0
$list-margin-bottom = $space-2-5
$monospace-font-family = 'Source Code Pro', Consolas, monospace
