/*-----------------------------------------------

Settings - Color

*/



// Generics
$c-white         = #ffffff
$c-black         = rgb(19,19,19)
$c-gray          = #c6c8ca
$c-gray-light    = #b8b8b8
$c-tan           = #DFDED9
$c-green         = #63924D
$c-btn-green     = #588444
$c-orange        = darken(#FFBB5A, 7)
$c-red           = #B62025
$c-blue          = #439DCA
$c-blue-light    = #00BBE4
$c-blue-light-2  = #9fc2d4     
$c-blue-dark     = #0C3048


// Specifics
$c-bg                       = $c-white
$c-bg-nav                   = rgb(45,45,45)
$c-bg-gray                  = #F4F5F7
$c-bg-form-light            = #f4f5f7
$c-bg-form-dark             = #2d2d2d
$c-line                     = #bbbbbb
$c-brand                    = #338AB6 // darken($c-blue, 7)


// Branded
$c-twitter   = #598dca
$c-linkedin  = #007ab9
$c-facebook  = #3a589b
$c-pinterest = #bd081c


$c-hr                       = $c-line