/*-----------------------------------------------

Settings - Global

*/



/*
Whitespace
*/

$space-05   = .25rem
$space-1   = .5rem
$space-1-5 = .75rem
$space-2   = 1rem
$space-2-5 = 1.5rem
$space-3   = 2rem
$space-3-5 = 2.5rem
$space-4   = 4rem
$space-4-5 = 4.5rem
$space-5   = 5rem
$space-6   = 6rem
$space-7   = 7rem

/*
Buttons
*/

$button-font-size = inherit
$button-line-height = 1.125rem
$button-padding-y = .75rem
$button-padding-x = $space-3

/*
Widths
*/

$contain-width    = 860px
$start-padding-point = $contain-width + 50px

/*
Heights
*/

$height-header = 108px